.menudiv{
    width: 100%;
    height: 20%;
    cursor: pointer;
    padding: 10px;
	margin: 10px;
}

.menunm{
    width: 100%;
    border-style:solid;
    border-width:thin;
    border-color: rgb(205, 205, 205);
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 255);
}

.menuMain{
    margin-left: 15px;
    margin-top: 35px;
    width: 180px;
    height: 140px;
}

html, body{
    height: 99.5%;
    width: 100%;
    background-color:#E6E6FA;
    padding: 0px;
    margin: 0px;
    -ms-touch-action: none;
}

.mainHeader{
    font-family:arial;
    background-color: #8dbdd8;
    text-align: left;
    font-size: 40px;
    white-space: nowrap;
    border-bottom: solid rgb(205, 205, 205) 5px;
    border-top: solid rgb(205, 205, 205) 5px;
	margin-left: 7px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
    color: rgb(255, 255, 255);
}

.mainMenuBigDiv{
    font-family:arial;
    background-color: #8dbdd8;
    color: rgb(255, 255, 255);
    height: 100%;
    border-bottom: solid rgb(205, 205, 205) 5px;
    border-right: solid rgb(205, 205, 205) 5px;
}