* {
	padding: 0;
	margin: 0;
}
.
score
{
	border-bottom: solid #000 10px;
	border-top: solid #000 10px;
}
table{
	/*margin:5px;*/
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	font-size: 20pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #E6EEEE;
	border: 0;
	font-size: 20pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	border: 0;
}
table.tablesorter tr {
	/*border-bottom:  1px solid #CCC;*/
	line-height: 32px;
	vertical-align: middle;
	border: 0;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 3px;
	padding-left: 8px;
	background-color: #FFF;
	vertical-align: top;
	border: 0;
}
table.tablesorter tbody tr:nth-child(even) td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr {
	background-color: #8dbdd8;
}
