{% extends "inbox.html" %}
{% block body %}
<table class="tablesorter" style="border:1px solid #bfbfbf;">

    <thead style="background:#f7f7f7;">
      <tr>
        <td style="width: 20%;">
          ID
        </td>
        <td style="width: 30%;">
          Data wystawienia
        </td>
        <td style="width: 50%;">
          Opinia
        </td>
      </tr>
    </thead>
    <tbody id="tablebody" style="background:#ffffff;border:1px solid #bfbfbf;">
      {% for cert in certs %}
      <tr style="border-bottom:1px solid #cccccc;">
        <td><a href="{{ url_for('download_cert', cert_id=cert.id)}}">{{ cert.id }}</a></td>
        <td>{{ cert.data_wystawienia }}</td>
        <td>{{ cert.opinia }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
