{% extends "inbox.html" %}
{% block body %}
	<div id="login" style="margin-top: 130px; top: 40%; width:100%; text-align:center;">
		<form action="{{ url_for('fill_cert') }}" method="POST">
			<div>
				<p>
					<select id="type" name="Typ" style="">
						<option value="opinia">Opinia</option>
					</select>
				</p>
				</br>
				<p>
					<select id="month" name="pesel"style="">
					{% for pesel, first_name, last_name in workers %}
						<option value="{{ pesel }}">{{ first_name }} {{ last_name }} ({{pesel}})</option>
					{% endfor %}
					</select>
				</p>
				</br>
			</div>
			<p>
				<textarea name="text" rows="10" cols="50" style="resize:none;">Treść komentarza</textarea>
			</p>
			</br>
			<p><input type="submit" value="Wygeneruj Zaświadczenie"></input></p>

			{% for message in get_flashed_messages() %}
			  <p>{{ message }}</p>
			{% endfor %}
		</form>
	</div>
</div>
{% endblock %}
