{% extends "inbox.html" %}
{% block body %}
<div id="login" style="margin-top: 130px; top: 40%; width:100%; text-align:center;">
    <p> Opinia dla: </p>
    <h3> {{ name.imie }} {{ name.nazwisko }} </h3>
    </br>
	<form action="{{ url_for('fill_opinion', request_id=request_id) }}" method="POST">
		<textarea name="text" rows="10" cols="50" style="resize:none;">Treść opinii</textarea>
		</br>
		<p><input type="submit" value="Wystaw opinie"></input></p>
	</form>
</div>
{% endblock %}
