<!DOCTYPE html>

<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>System Wydawania Zaświadczeń</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}" media="screen" />
</head>

<body style="overflow: hidden;">

<div class="mainMenuBigDiv">
	<div style="border: solid rgb(205, 205, 205) 5px; border-bottom: 0; height: 100%; float:left; width: 220px;">
		<div class="menuMain">
			<h2>MENU</h2>
			<h3 style="padding-left: 10px; margin-left: 10px;">{{ session['name'] }}</h3>
			<hr>
			<div id="menu" style="width: 70%; height: 100%; float: left;">
				<div class="menudiv" onClick="window.location.href = '{{ url_for('fill_cert') }}';"><p>Wypełnij zaświadczenie</p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('show_pending_opinions') }}';"><p>Oczekujące opinie</p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('show_certs') }}';"><p>Archiwum zaświadczeń</p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('show_notifications') }}';"><p>Powiadomienia</p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('logout') }}';"><p>Wyloguj</p></div>
			</div>
			<div id="menu2" style="height: 100%; width:30%; float: left;">
				<div class="menudiv" onClick="window.location.href = '{{ url_for('fill_cert') }}';">		<p id="0"></p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('show_pending_opinions') }}';">	<p id="1" class="menunm">{{session['request_no']}}</p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('show_certs') }}';">		<p id="2"></p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('show_notifications') }}';">	<p id="3" class="menunm">{{session['notification_no']}}</p></div>
				<div class="menudiv" onClick="window.location.href = '{{ url_for('logout') }}';">			<p id="4"></p></div>
			</div>
		</div>
	</div>
		
	<div style="top: 5%; height: 90%; padding-left:220px; float: none;">
		<div class="mainHeader">System Wydawania Zaświadczeń</div>
		<div style="height: 99.5%; overflow-y: auto; margin-left: 7px;">
				{% block body %}
				{% endblock %}
		</div>
	</div>

</div>

</body>
</html>

