{% extends "inbox.html" %}
{% block body %}
<table class="tablesorter" style="border:1px solid #bfbfbf;">

    <thead style="background:#f7f7f7;">
      <tr>
        <td style="width: 20%;">
          ID
        </td>
        <td style="width: 20%;">
          Data wystawienia
        </td>
	    <td style="width: 20%;">
          Nadawca
        </td>
        <td style="width: 40;">
          Komentarz
        </td>
      </tr>
    </thead>
    <tbody id="tablebody" style="background:#ffffff;border:1px solid #bfbfbf;">
      {% for opinion in opinions %}
      <tr style="border-bottom:1px solid #cccccc;">
        <td><a href="{{ url_for('fill_opinion', request_id=opinion.id)}}">{{opinion.id }}</a>
        <td>{{ opinion.data_zgloszenia }}</td>
        <td>{{ opinion.imie }} {{ opinion.nazwisko }} </td>
        <td>{{ opinion.komentarz }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
